* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #E7EB90;
}

#title {
    color: white;
    background-color: #2274A5;
    padding: 10px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    height: 12rem;
}

.option {
    height: 100px;
    width: 100px;
}

img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: transparent 5px solid;
}

img:hover {
    border: black 5px solid;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 1rem;
    gap: 4rem;
    margin-bottom: 2rem;
}

.user-win,
.comp-win {
    font-size: 3rem;
}

.msg {
    font-size: 1.5rem;
    background-color: #E6AF2E;
    display: inline;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.user {
    font-size: 1.5rem;
}